.home-container {
  text-align: center;
  padding: 4rem 2rem;
  background: #f4fdf4;
}

.home-actions {
  margin: 2rem 0;
}

.btn-primary {
  padding: 0.8rem 2rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.btn-secondary {
  padding: 0.8rem 2rem;
  background-color: #e8f5e9;
  color: #2e7d32;
  border: 1px solid #2e7d32;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.home-info {
  margin-top: 3rem;
}

.info-list{
    list-style-type: none;
}